In [1]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn 
import torch.nn.functional as F

from sklearn.metrics import balanced_accuracy_score

### Data Pre-Processing
---

In [2]:
def train_test_split(df):
    np.random.seed(630)
    msk = np.random.rand(len(df)) < 0.8
    train = df[msk].reset_index()
    valid = df[~msk].reset_index()
    return train, valid

In [3]:
def init_model_and_data(train):
    train_df = encode_data(train, train=None)
    num_users = len(train.user_id.unique())
    num_items = len(train.item_id.unique())
    model = MF(num_users, num_items)
    return model, train_df

In [4]:
def proc_col(col, train_col=None):
    """Encodes a pandas column with continous ids. 
    """
    if train_col is not None:
        uniq = train_col.unique()
    else:
        uniq = col.unique()
    name2idx = {o:i for i,o in enumerate(uniq)}
    return name2idx, np.array([name2idx.get(x, -1) for x in col]), len(uniq)

In [5]:
def encode_data(df, train=None):
    """ Encodes rating data with continous user and movie ids. 
    If train is provided, encodes df with the same encoding as train.
    """
    df = df.copy()
    for col_name in ["user_id", "item_id"]:
        train_col = None
        if train is not None:
            train_col = train[col_name]
        _,col,_ = proc_col(df[col_name], train_col)
        df[col_name] = col
        df = df[df[col_name] >= 0]
    return df

In [47]:
def encode_item_features(df, train=None):
    """ Encodes rating data with continous user and movie ids. 
    If train is provided, encodes df with the same encoding as train.
    """
    df = df.copy()
    for col_name in ["item_feature_id"]:
        train_col = None
        if train is not None:
            train_col = train[col_name]
        _,col,_ = proc_col(df[col_name], train_col)
        df[col_name] = col
        df = df[df[col_name] >= 0]
    return df

In [6]:
def add_samples(df, k, all_users, all_items, user_context_features):
    sample_df = {'user_id':np.empty(df.shape[0]*k),
        'item_id':np.empty(df.shape[0]*k),
        'rating':np.empty(df.shape[0]*k),
        'context_feature_id':np.empty(df.shape[0]*k)}
    for user in all_users:
        split_index = np.where(df[:,0] == user)[0]
        user_df = df[split_index[0]:split_index[-1]+1]
        
        zero_samples = sample_zeros(user_df, k, all_items)
        user_col = np.full(user_df.shape[0]*k, user)
        zero_col = np.zeros(user_df.shape[0]*k)

        context_features = np.random.choice(user_context_features[user_df[0,0]],
         user_df.shape[0]*k)

        # sample_df = {'user_id':user_col, 'item_id':zero_samples, 'rating':zero_col}
        sample_df['user_id'][split_index[0]:split_index[-1]+1] = user_col
        sample_df['item_id'][split_index[0]:split_index[-1]+1] = zero_samples
        sample_df['rating'][split_index[0]:split_index[-1]+1] = zero_col
        sample_df['context_feature_id'][split_index[0]:split_index[-1]+1] = context_features


    return pd.DataFrame(sample_df)

In [7]:
def sample_zeros(user_df, k, all_items):
    sample = []
    
    while len(sample) < k*len(user_df[:,1]):
        raw_samp = np.random.randint(0, len(all_items))
        if raw_samp not in user_df[:,1] and raw_samp not in sample:
            sample.append(raw_samp)

    return sample

In [8]:
training = pd.read_csv('training.csv')
training['rating'] = 1
item_feature = pd.read_csv('item_feature.csv')
test = pd.read_csv('test_kaggle.csv')

train_df = encode_data(df=training)
train = encode_data(df=training).to_numpy()

all_users = pd.unique(train[:,0])
all_items = pd.unique(train[:,1])

user_context_features = train_df.groupby('user_id').agg({'context_feature_id':list}).to_dict()

In [9]:
%%time
negative_samples = add_samples(train, 1, all_users, all_items, user_context_features)

CPU times: user 1min 28s, sys: 441 ms, total: 1min 28s
Wall time: 1min 28s

In [61]:
train_df.groupby('user_id').agg({'context_feature_id':list}).to_dict()

{'context_feature_id': {0: [2, 2, 3, 2, 2, 2],
  1: [2, 2, 3, 2],
  2: [1, 1, 3, 3, 1, 1],
  3: [2, 1, 3, 1],
  4: [1, 1, 1, 1, 1],
  5: [2, 2, 2, 2],
  6: [1, 3, 2, 2],
  7: [1, 1, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
  8: [2, 2, 2, 2],
  9: [2, 2, 2, 2],
  10: [2, 2, 2, 1, 2, 3, 3, 2, 2, 2, 2],
  11: [1, 1, 1, 1, 1],
  12: [1, 1, 1, 1, 1, 1, 1],
  13: [2,
   2,
   2,
   3,
   3,
   3,
   2,
   2,
   2,
   2,
   3,
   3,
   2,
   2,
   0,
   2,
   2,
   2,
   0,
   2,
   0,
   3,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   3,
   2,
   2,
   3,
   3,
   2,
   2,
   2],
  14: [2, 1, 0, 2, 2, 2, 2, 2, 2, 2],
  15: [2, 3, 2, 3],
  16: [2, 3, 2, 2, 2, 3],
  17: [1, 1, 1, 1, 1],
  18: [1, 1, 1, 1, 1, 1],
  19: [2, 2, 2, 2],
  20: [2, 3, 2, 2, 2, 2],
  21: [2, 3, 2, 3, 2, 2],
  22: [2, 2, 2, 2, 3],
  23: [2, 3, 2, 2, 2, 2],
  24: [0, 2, 1, 2, 1, 1, 0, 2],
  25: [2, 3, 2, 2, 2, 2, 3, 2, 2, 2],
  26: [1, 1, 1, 1],
  27: [0, 0, 0, 0],
  28: [1, 1, 1, 1],
  29: [1, 1, 1, 1],
  30: [2, 2, 2, 1],
  31: [2, 2, 3, 2],
  32: [3, 2, 2, 2],
  33: [2, 2, 3, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 2],
  34: [2, 2, 2, 3, 2, 2],
  35: [2, 2, 2, 3, 2, 2, 3, 2],
  36: [2, 1, 1, 1],
  37: [3, 2, 2, 2],
  38: [2, 2, 2, 2],
  39: [2, 3, 2, 2, 3],
  40: [2, 2, 2, 2],
  41: [2, 1, 1, 2],
  42: [2, 0, 2, 0],
  43: [1, 2, 1, 1, 1],
  44: [3, 3, 2, 2, 2, 2, 2, 3, 3, 2, 2, 2, 2, 3],
  45: [2, 2, 2, 2, 2],
  46: [3, 2, 2, 2],
  47: [2, 3, 2, 2, 2, 3, 3, 1, 1],
  48: [1, 1, 1, 1],
  49: [2, 1, 1, 1, 1],
  50: [1, 1, 1, 1],
  51: [2, 3, 2, 2, 2, 3],
  52: [2, 2, 2, 2, 2, 2],
  53: [2, 2, 2, 2, 2, 2, 2],
  54: [1, 1, 1, 1],
  55: [2, 3, 2, 2],
  56: [2, 3, 3, 3, 3],
  57: [1, 3, 2, 0],
  58: [2, 0, 0, 0, 0, 0, 0, 0],
  59: [2, 2, 2, 2],
  60: [1, 1, 1, 1, 1],
  61: [1, 1, 1, 1],
  62: [3, 2, 2, 3, 2],
  63: [1, 1, 1, 2],
  64: [2, 2, 2, 2, 3, 3, 2],
  65: [1, 1, 1],
  66: [1, 1, 2, 1],
  67: [2, 2, 3, 2],
  68: [1, 1, 1, 1],
  69: [1, 0],
  70: [1, 1, 2, 1],
  71: [1, 1, 1, 1],
  72: [2, 2, 2, 2],
  73: [3, 2, 1, 1],
  74: [1, 2, 2, 2, 2, 2, 2, 2, 3],
  75: [2, 2, 2, 2],
  76: [1, 1, 1, 1],
  77: [2, 2, 2, 2, 2, 2, 2, 1, 2, 3],
  78: [1, 2, 2, 1, 2, 2],
  79: [2, 3, 2, 2, 2],
  80: [2, 2, 2, 2, 2, 2],
  81: [2, 3, 2, 1],
  82: [1, 1, 1, 2, 1, 1, 1, 1],
  83: [1, 1, 1, 1, 1, 1, 1, 1],
  84: [0, 0, 0, 0],
  85: [2, 2, 2, 2, 2],
  86: [3, 2, 2, 3, 3, 2, 2],
  87: [2, 3, 2, 2],
  88: [1, 2, 1, 1],
  89: [2, 3, 2, 3, 2, 2, 3, 2],
  90: [2, 2, 2, 2, 2, 3, 2, 3, 2],
  91: [2, 2, 2, 2, 1],
  92: [1, 1, 1, 1],
  93: [2, 2, 2, 0, 2],
  94: [2, 2, 2, 1, 2, 2],
  95: [3, 2, 3, 2],
  96: [2, 2, 2, 2, 1, 1, 1, 1],
  97: [1, 1, 1, 1, 1, 1, 1, 1],
  98: [0, 0, 0, 0],
  99: [1, 1, 1, 2],
  100: [1, 1, 1, 1],
  101: [1, 1, 1, 1],
  102: [2, 3, 2, 3],
  103: [1, 1, 1, 1],
  104: [2, 3, 2, 2, 3],
  105: [3, 2, 2, 2, 1],
  106: [2, 2, 2, 2],
  107: [2, 3, 2, 3, 3, 3, 2, 2, 3, 2, 2, 3, 2, 3, 2, 2, 2],
  108: [2, 3, 2, 2],
  109: [2, 3, 2, 3, 3, 3, 2],
  110: [1, 1, 1, 1, 1],
  111: [1, 1, 1, 1],
  112: [1, 1, 1, 1],
  113: [2, 2, 3, 2],
  114: [0, 2, 2, 2],
  115: [2, 3, 2, 2],
  116: [1, 1, 1, 1, 1],
  117: [2, 2, 3, 3, 3],
  118: [2, 3, 2, 2, 2, 2],
  119: [1, 2, 2, 3, 2, 2, 1, 1, 2, 2, 1, 2],
  120: [2, 2, 3, 2],
  121: [2, 2, 2, 2, 2, 2, 3, 3, 2, 3, 2, 2, 2],
  122: [1, 1, 1, 1, 1, 1, 1],
  123: [2, 2, 2, 2],
  124: [1, 1, 1, 1, 1],
  125: [0, 0, 0, 0, 0, 0, 2, 0],
  126: [1, 3, 3, 2, 2, 1],
  127: [0, 0, 0, 1],
  128: [2, 2, 3, 2, 2, 2, 2],
  129: [0, 0, 0, 0, 1],
  130: [2, 2, 2, 2, 3, 2, 2, 2, 2, 3, 2],
  131: [1, 1, 1, 1, 1],
  132: [1, 1, 1, 1, 1, 1],
  133: [2, 2, 2, 2],
  134: [2, 2, 3, 2, 2, 2, 3],
  135: [2, 2, 3, 2],
  136: [2, 2, 2, 2],
  137: [2, 2, 3, 2],
  138: [0, 1, 1, 1],
  139: [3, 2, 2, 2, 2, 2, 3, 2, 2],
  140: [1, 2, 1, 1, 2, 3, 1],
  141: [1, 1, 1, 1],
  142: [1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1],
  143: [1, 1, 1, 1],
  144: [0, 0, 0, 0, 0],
  145: [3, 1, 1, 1, 1, 1],
  146: [2, 2, 2, 2, 2],
  147: [1, 1, 2, 3],
  148: [1, 1, 1, 1],
  149: [2, 2, 3, 3, 2],
  150: [1],
  151: [1, 0, 0, 0],
  152: [2, 2, 3, 2],
  153: [0, 1, 0, 0, 0, 1],
  154: [2, 2, 2, 2, 3, 2, 2, 2],
  155: [2, 3, 3, 3, 3, 2, 3],
  156: [3, 2, 2, 2],
  157: [2, 3, 2, 2],
  158: [2, 2, 2, 2, 2, 3],
  159: [3, 3, 2, 2, 2, 3],
  160: [1, 2, 2, 2, 2, 3],
  161: [2, 2, 1, 2, 2, 2],
  162: [1, 1, 1, 3, 2, 2, 2, 2],
  163: [3, 2, 3, 2, 3, 3],
  164: [0, 0, 0, 0, 0, 0],
  165: [2, 3, 3, 3, 2],
  166: [2, 2, 3, 1, 2, 2, 3],
  167: [3, 3, 2, 2],
  168: [3, 2, 3, 2],
  169: [3, 2, 2, 3, 2],
  170: [2, 3, 2, 2],
  171: [0, 0, 0, 0],
  172: [2, 2, 2, 2, 2],
  173: [1, 1, 1, 2, 1, 1, 1],
  174: [2, 2, 2, 2],
  175: [1, 1, 1, 1],
  176: [2, 2, 2, 2],
  177: [1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1],
  178: [2, 3, 1, 1],
  179: [1, 0, 0, 1],
  180: [2, 2, 3, 3, 2, 2, 2, 2, 2, 2],
  181: [3, 2, 2, 2, 2],
  182: [3, 3, 3, 2, 3, 3, 2, 2],
  183: [3, 2, 3, 2],
  184: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
  185: [1, 0, 2, 1, 1],
  186: [2, 2, 2, 2],
  187: [1, 2, 3, 3],
  188: [1, 1, 1, 1],
  189: [2, 1, 2, 3, 2],
  190: [1, 2, 2, 2, 2],
  191: [2, 2, 2, 1],
  192: [2, 2, 2, 2, 2, 3, 1],
  193: [2, 1, 3, 2, 2, 2],
  194: [0, 0, 2, 2, 0],
  195: [2, 2, 2, 2, 2, 2, 2],
  196: [2, 2, 2, 2, 2, 2],
  197: [1, 1, 1, 1, 1],
  198: [1, 2, 3, 2],
  199: [1, 3, 2, 2, 2, 2],
  200: [2, 3, 2, 3, 2],
  201: [1, 2, 2, 2],
  202: [3, 3, 2, 2, 2, 2],
  203: [3, 1, 1, 1],
  204: [2, 2, 2, 2, 2],
  205: [2, 1, 2, 1],
  206: [1, 1, 1, 1, 1],
  207: [2, 3, 2, 2, 1, 2],
  208: [2, 3, 3, 1],
  209: [2, 2, 3, 2, 2, 2],
  210: [2, 3, 2, 3, 2, 2, 2],
  211: [1, 1, 1, 1],
  212: [2, 3, 2, 2, 3],
  213: [0, 0, 0, 0],
  214: [2, 2, 3, 2, 2, 2, 3],
  215: [2, 2, 2, 2],
  216: [2, 3, 2, 3, 2, 2, 3, 2, 3, 2, 1],
  217: [1, 1, 1, 1, 0],
  218: [2, 2, 3, 2],
  219: [2, 2, 2, 2, 3],
  220: [2, 3, 2, 2],
  221: [0, 0, 0, 0],
  222: [3, 2, 2, 2, 3, 3, 2, 2, 1, 2],
  223: [1, 1, 1, 1, 1],
  224: [3, 1, 1, 1, 2, 2, 1, 1, 1],
  225: [2, 2, 1, 0, 2],
  226: [2, 2, 2, 2],
  227: [2, 2, 2, 2, 3, 3, 2, 2, 2, 3, 2],
  228: [0, 2, 3, 0, 0, 2],
  229: [2, 2, 2, 2],
  230: [2, 2, 2, 0],
  231: [3, 2, 3, 1, 3, 2],
  232: [2, 2, 2, 2, 2],
  233: [1, 1, 1, 1],
  234: [3, 2, 2, 2, 2, 2, 2],
  235: [2, 2, 3, 2, 2],
  236: [1, 1, 1, 1, 1],
  237: [1, 1, 2, 2, 1],
  238: [2, 2, 3, 3, 2, 2, 2],
  239: [0, 0, 0, 0],
  240: [3, 2, 3, 2],
  241: [2, 2, 3, 2],
  242: [0, 0, 3, 3],
  243: [1, 1, 1, 1, 1],
  244: [2, 2, 2, 2, 2],
  245: [1, 1, 1, 1],
  246: [1, 2, 3, 1, 3, 2, 1, 1, 1, 2, 1],
  247: [3, 2, 2, 3, 2],
  248: [2, 2, 3, 2, 3, 3, 2, 2, 2],
  249: [1, 1, 1, 1, 1, 1, 1, 1],
  250: [1, 2],
  251: [0, 0, 2, 0, 0, 0],
  252: [1, 1, 1, 1, 2],
  253: [1, 2, 2, 1],
  254: [2, 2, 2, 2],
  255: [2, 3, 2, 2],
  256: [2, 3, 3, 2],
  257: [1, 2, 1, 2],
  258: [1, 1, 1, 1],
  259: [1, 2, 1, 1, 2],
  260: [2, 2, 2, 2],
  261: [2, 2, 2, 2],
  262: [2, 2, 0, 2],
  263: [1, 1, 1, 1, 1],
  264: [1, 1, 1, 1, 1, 1],
  265: [3, 2, 2, 2],
  266: [2, 3, 2, 2],
  267: [3, 2, 2, 2],
  268: [1, 3, 2, 2, 2],
  269: [2, 3, 3, 2, 2, 3],
  270: [1, 1, 2, 1],
  271: [2, 2, 2, 3, 2],
  272: [2, 3, 2, 2, 2, 3, 2, 2, 3, 2, 2, 2, 2, 2, 2, 2, 3, 3, 2, 2, 2, 3, 2],
  273: [2, 1, 2, 2],
  274: [2, 3, 2, 2, 2, 3, 2],
  275: [2, 2, 3, 2],
  276: [3, 2, 2, 3],
  277: [2, 3, 0, 2, 2],
  278: [2, 2, 3, 2],
  279: [1, 1, 1, 1],
  280: [0, 0, 0, 0, 0],
  281: [3, 2, 3, 2],
  282: [3, 2, 3, 2],
  283: [2, 3, 2, 0],
  284: [2, 2, 2, 2],
  285: [1, 1, 1, 1],
  286: [0, 0, 0, 0],
  287: [1, 1, 1, 1],
  288: [1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1],
  289: [2, 2, 2, 3],
  290: [2, 3],
  291: [2, 2, 2, 3, 2, 2, 2],
  292: [2, 3, 2, 3, 3, 2, 3, 3, 3],
  293: [2, 2, 3, 2],
  294: [3, 3, 2, 2],
  295: [2, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
  296: [2, 3, 2, 3, 2, 2],
  297: [2, 2, 2, 2],
  298: [2, 2, 2, 2, 2],
  299: [2, 1, 1, 1],
  300: [2, 3, 2, 1, 2],
  301: [2, 2, 2, 3, 2, 2, 2, 2, 2, 3, 2, 2],
  302: [2, 2, 2, 3, 2, 2, 2, 3, 2, 2, 3],
  303: [0, 0, 1, 0, 0, 0],
  304: [1, 2, 2, 2, 2, 3, 2, 2],
  305: [2, 2, 2, 3, 3, 2, 2, 2],
  306: [1, 1, 1, 1, 1, 1, 1],
  307: [2, 3, 2, 3, 2, 2, 2, 2, 2, 3],
  308: [1, 2, 1, 1],
  309: [3, 0, 0, 0],
  310: [2, 2, 2, 2, 2],
  311: [1, 1, 1, 0],
  312: [2, 3, 2, 2, 2, 3, 2],
  313: [1, 3, 2, 1],
  314: [1, 1, 1, 1],
  315: [2, 2, 2, 2, 3, 2],
  316: [2, 2, 2, 2, 1, 3, 3],
  317: [2, 3, 3, 2, 2],
  318: [3, 3, 2, 2, 3],
  319: [0, 1, 1, 0],
  320: [3, 2, 2, 3],
  321: [3, 2, 2, 1],
  322: [2, 3, 2, 2, 2, 2, 2, 2, 2, 2],
  323: [2, 2, 3, 2, 2, 3, 2, 3],
  324: [1, 1, 1, 1],
  325: [2, 2, 2, 3, 2, 2, 3],
  326: [3, 3, 2, 3, 2, 2],
  327: [0, 0, 0, 0],
  328: [3, 2, 2, 3, 2],
  329: [2, 2, 3, 2],
  330: [1, 1, 1, 1],
  331: [3, 2, 2, 2, 2],
  332: [2, 2, 2, 2],
  333: [0, 0, 1, 0, 0],
  334: [2, 2, 3, 2, 2],
  335: [3, 2, 2, 2, 2],
  336: [2, 2, 2, 2],
  337: [1, 1, 1, 1],
  338: [1, 1, 1, 2],
  339: [2, 2, 1, 2, 3, 1, 2, 2, 3, 3],
  340: [1, 1, 1, 1],
  341: [1, 1, 1, 2],
  342: [3, 2, 3, 2, 3, 2, 3],
  343: [2, 0, 0, 1, 1, 0, 1, 1],
  344: [1, 1, 1, 1, 1, 1],
  345: [0, 0, 2, 0],
  346: [3, 2, 2, 2, 3, 2, 2, 2, 2, 2, 3],
  347: [1, 1, 1, 1, 1],
  348: [2, 2, 2, 3, 2, 1],
  349: [2, 2, 3, 2, 2, 2, 2],
  350: [2, 2, 0, 2, 3, 0, 0, 2, 2],
  351: [2, 1, 2, 1],
  352: [1, 1, 1, 1],
  353: [2, 3, 2, 3],
  354: [3, 2, 2, 2],
  355: [2, 2, 2, 2],
  356: [1, 1, 1, 1, 1],
  357: [2, 1, 2, 2],
  358: [0, 0, 0, 0, 3, 2, 2, 2],
  359: [1, 2, 1, 1],
  360: [3, 2, 2, 2, 2, 3, 2, 2, 2, 2],
  361: [2, 2, 2, 2, 2],
  362: [2, 0, 2, 2, 2],
  363: [2, 2, 2, 2, 2, 0],
  364: [1, 1, 1, 1, 1, 1],
  365: [0, 2, 1, 1],
  366: [1, 0, 0, 3],
  367: [0, 2, 2, 3],
  368: [1, 3, 2, 1],
  369: [2, 1, 1, 1, 1, 1, 2],
  370: [3, 2, 1, 1, 1],
  371: [1, 1, 1, 1],
  372: [1, 2, 2, 2],
  373: [2, 2, 2, 3],
  374: [0, 0, 0, 0],
  375: [2, 2, 2, 2, 2],
  376: [3, 2, 2, 2, 2, 1, 1, 1],
  377: [1, 2, 2, 2, 2],
  378: [2, 2, 2, 3],
  379: [2, 3, 2, 2],
  380: [2, 2, 2, 3, 2],
  381: [1, 1, 1, 1, 1],
  382: [2, 3, 2, 2, 2, 2, 2, 2, 2],
  383: [2, 3, 2, 2, 2],
  384: [2, 2, 2, 2, 2, 3],
  385: [3, 3, 2, 2],
  386: [2, 3, 2, 2],
  387: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 2],
  388: [1, 1, 1, 1, 1, 1],
  389: [2, 0, 0, 0],
  390: [3, 1, 2, 2, 2],
  391: [1, 1, 1, 1, 1],
  392: [2, 2, 3, 3, 2],
  393: [1, 2, 1, 2],
  394: [2, 3, 2, 2],
  395: [1, 1, 1, 1, 1, 1],
  396: [2, 3, 2, 2, 2],
  397: [2, 3, 2, 1],
  398: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
  399: [2, 2, 2, 2, 3, 3, 2, 3, 2],
  400: [0, 1, 1, 2],
  401: [2, 2, 1, 1],
  402: [3, 3, 2, 3, 2],
  403: [2, 2, 2, 2],
  404: [1, 1, 1, 1, 1, 1],
  405: [2, 2, 2, 2, 2, 2, 3, 2, 3, 2],
  406: [2, 2, 2, 2, 2, 2, 3],
  407: [3, 3, 3, 3],
  408: [2, 3, 1, 0, 2],
  409: [1, 1, 1, 1],
  410: [3, 2, 2, 2],
  411: [0, 2, 2, 3, 2],
  412: [1, 0, 2, 0, 0],
  413: [2, 2, 2, 2, 3, 2],
  414: [2, 2, 2, 3],
  415: [2, 3, 2, 3],
  416: [3, 2, 1, 1, 0],
  417: [2, 3, 2, 2, 2],
  418: [1, 1, 1, 1],
  419: [2, 3, 2],
  420: [1, 2, 2, 1],
  421: [2, 2, 2, 2, 3, 2, 3, 2, 2, 3, 1, 2, 1, 2, 2, 2],
  422: [2, 2, 2, 2, 2],
  423: [2, 2, 2, 2],
  424: [1, 1, 1, 1, 1],
  425: [2, 3, 0, 0, 0, 0, 0, 2, 2, 0],
  426: [2, 2, 2, 2, 3, 3],
  427: [3, 3, 2, 3, 3, 2],
  428: [1, 1, 2, 2, 3, 3, 2, 2, 3],
  429: [1, 1, 1, 1, 1],
  430: [1, 1, 1, 1],
  431: [2, 3, 2, 2, 3, 2],
  432: [3, 3, 2, 2],
  433: [1, 1, 1, 1],
  434: [2, 2, 2, 2, 3, 3],
  435: [2, 2, 3, 2, 3],
  436: [2, 0, 2, 2, 0],
  437: [1, 1, 1, 1],
  438: [2, 2, 2, 2, 2, 2, 3, 3, 3, 3],
  439: [3, 2, 1, 2, 3, 2, 1, 2],
  440: [3, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2],
  441: [0, 2, 2, 1, 2, 0, 2, 2, 0, 2],
  442: [2, 3, 2, 2, 2, 2, 2],
  443: [2, 3, 2, 3, 0, 2, 2, 2],
  444: [2, 2, 2, 2, 2, 2],
  445: [2, 2, 3, 2, 3],
  446: [2, 1, 2, 2],
  447: [1, 1, 1, 0, 0],
  448: [1, 1, 2, 1, 1],
  449: [2, 3, 2, 3, 2],
  450: [2, 2, 2, 2, 1, 1],
  451: [1, 1, 1, 1],
  452: [3, 2, 2, 2],
  453: [0, 1, 2, 3, 2, 2, 2],
  454: [2, 2],
  455: [2, 2, 2, 2],
  456: [3, 3, 2, 2],
  457: [2, 2, 1, 3],
  458: [1, 1, 1, 2],
  459: [2, 1, 1, 1],
  460: [2, 2, 2, 3, 2, 2],
  461: [1, 2, 2, 2],
  462: [2, 2, 3, 2, 2, 2],
  463: [1, 1, 1, 0],
  464: [2, 1, 2, 3, 2, 2, 1, 2, 2],
  465: [1, 1, 1, 1],
  466: [1, 1, 1, 1, 1],
  467: [1, 1, 1, 1, 1, 1, 2, 1, 1],
  468: [2, 2, 2, 2],
  469: [3, 2, 2, 2],
  470: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
  471: [2, 2, 3, 3],
  472: [0, 0, 0, 0, 0, 2, 0, 2, 0, 0, 0, 0, 2, 0, 0],
  473: [1, 2, 2, 0, 2, 2, 2],
  474: [0, 0, 0, 0],
  475: [2, 2, 3, 3, 2, 2],
  476: [2, 2, 3, 1, 3],
  477: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
  478: [1, 1, 1, 1, 1],
  479: [2, 2, 2, 2],
  480: [2, 2, 2, 2],
  481: [2, 2, 2, 2],
  482: [2, 2, 3, 2, 2, 3, 2],
  483: [3, 2, 2, 3, 2, 3, 2],
  484: [1, 1, 1, 1],
  485: [3, 2, 2, 3, 1, 3, 3, 1],
  486: [2, 1, 2, 1, 1, 3, 1, 3],
  487: [0, 0, 0, 0, 0, 0, 0],
  488: [1, 1, 1, 1],
  489: [0, 2, 1, 0, 0, 0, 2, 2],
  490: [2, 2, 2, 2],
  491: [2, 3, 3, 2],
  492: [2, 2, 2, 2, 2, 2, 2, 3, 2, 2],
  493: [0, 1, 0, 1, 1],
  494: [2, 2, 3, 3, 2, 2, 2, 2, 2, 2, 3, 2],
  495: [2, 2, 2, 2, 3],
  496: [1, 1, 1, 0],
  497: [3, 2, 2, 1],
  498: [3, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 0, 0, 0, 2, 1],
  499: [1, 3, 1, 1, 1],
  500: [2, 2, 2, 2, 2, 3, 2],
  501: [2, 3, 2, 3],
  502: [2, 2, 2, 2],
  503: [2, 2, 2, 2],
  504: [2, 0, 1, 1, 2, 1, 1, 1, 1],
  505: [1, 1, 1, 1],
  506: [2, 2, 2, 2],
  507: [2, 2, 3, 3],
  508: [2, 2, 2, 3],
  509: [3, 2, 2, 3, 2, 3, 2],
  510: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
  511: [2, 1, 2, 2, 2, 3],
  512: [3, 2, 3, 2],
  513: [1, 1, 1, 1],
  514: [2, 2, 2, 2],
  515: [2, 3, 2, 2, 3],
  516: [2, 3, 2, 2, 3],
  517: [1, 1, 1, 2],
  518: [2, 3, 2, 2, 3],
  519: [2, 2, 2, 2],
  520: [1, 2, 1, 1],
  521: [2, 2, 2, 3, 2],
  522: [1, 1, 2, 3, 1],
  523: [3, 3, 3, 2],
  524: [2, 3, 2, 2],
  525: [0, 2, 2, 2, 1],
  526: [3, 1, 2, 1, 2, 1, 1, 1, 1, 2, 2, 1],
  527: [2, 2, 2, 2, 1, 3, 1, 1],
  528: [2, 2, 2, 2, 2, 3, 2, 3, 2, 3, 2, 2],
  529: [0, 0, 0, 0, 0, 2],
  530: [3, 2, 2, 3],
  531: [2, 2, 2, 2],
  532: [3, 1, 2, 3, 1],
  533: [2, 2, 2, 2, 2, 2, 2],
  534: [2, 2, 2, 2, 3],
  535: [1, 1, 3, 1, 1, 1, 2, 1, 1, 1, 1, 1],
  536: [2, 3, 2, 2, 2, 2],
  537: [2, 2, 2, 2, 3, 2],
  538: [1, 1, 1, 1, 1],
  539: [2, 2, 2, 1, 1, 2],
  540: [3, 2, 2, 2],
  541: [2, 2, 2, 2, 2],
  542: [2, 2, 2, 2, 2],
  543: [3, 2, 2, 2, 2, 2, 2],
  544: [2, 2, 3, 2],
  545: [2, 2, 2, 0, 2, 2],
  546: [2, 2, 3, 2, 2, 3, 2, 2],
  547: [2, 2, 2, 2],
  548: [0, 1, 0, 0],
  549: [1, 1, 1, 1, 1],
  550: [2, 3, 2, 2],
  551: [1, 1, 1, 1, 1],
  552: [2, 2, 2, 2, 2, 2],
  553: [2, 2, 1, 3, 3],
  554: [2, 2, 2, 3],
  555: [2, 3, 1, 1, 1, 1, 1, 3, 2, 2, 1, 1, 1, 1],
  556: [2, 3, 2, 3],
  557: [3, 1, 2, 3],
  558: [2, 3, 2, 2, 2],
  559: [0, 0, 0, 0, 0, 0],
  560: [1, 1, 1, 1, 1],
  561: [1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 1, 1],
  562: [3, 2, 2, 3],
  563: [2, 2, 2, 2],
  564: [1, 1, 1, 1, 1],
  565: [1, 2, 2, 2],
  566: [3, 2, 2, 2, 3],
  567: [3, 2, 3, 2, 2],
  568: [2, 3, 3, 2],
  569: [2, 2, 1, 1, 1, 2, 1],
  570: [3, 3, 2, 2],
  571: [3, 3, 2, 3],
  572: [2, 3, 2, 2],
  573: [2, 3, 2, 2, 2, 2, 3, 2],
  574: [1, 1, 1, 1],
  575: [2, 2, 2, 3],
  576: [2, 2, 2, 2],
  577: [3, 2, 2, 2, 2, 2, 2, 3],
  578: [1, 1, 1, 1, 1],
  579: [2, 2, 2, 2, 2, 2],
  580: [2, 2, 2, 3],
  581: [3, 3, 3, 3, 2],
  582: [2, 2, 2, 3, 2, 2, 2],
  583: [2, 2, 2, 3],
  584: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
  585: [3, 3, 2, 2, 2],
  586: [2, 1, 3, 3],
  587: [1, 1, 1, 1],
  588: [1, 1, 1, 1],
  589: [1, 1, 1, 1, 1],
  590: [2, 2, 2, 2],
  591: [1, 1, 0, 1, 2, 2, 2],
  592: [2, 2, 2, 2, 1],
  593: [1, 1, 1, 1],
  594: [2, 3, 3, 3, 3],
  595: [2, 3, 2, 3],
  596: [2, 2, 2, 3, 2],
  597: [2, 2, 2, 3, 2, 2, 2, 2],
  598: [3, 2, 2, 2],
  599: [1, 1, 1, 1, 1, 1],
  600: [2, 2, 2, 2, 2, 2, 2, 2, 2],
  601: [0, 0, 0, 0, 0, 0, 0],
  602: [2, 1, 1, 1],
  603: [1, 1, 0, 1],
  604: [1, 1, 1, 1],
  605: [2, 3, 3, 3, 2, 3],
  606: [1, 1, 1, 1, 1],
  607: [2, 2, 2, 3, 2, 2, 2],
  608: [3, 2, 2, 2],
  609: [2, 3, 2],
  610: [2, 3, 2, 3],
  611: [2, 2, 2, 2, 2],
  612: [2, 2, 2, 2],
  613: [2, 2, 2, 2, 2, 2, 2, 3, 2, 3, 2, 2, 2, 2, 2, 2],
  614: [1, 1, 1, 1, 1, 1],
  615: [2, 2, 2, 2, 2],
  616: [2, 2, 3, 2, 2, 3],
  617: [1, 1, 1, 1, 1],
  618: [0, 0, 3, 1, 2, 2, 2, 1, 2, 1, 1, 2, 1, 1, 2, 1],
  619: [2, 2, 2, 2, 2, 2, 2],
  620: [2, 1, 1, 1, 1, 2, 1],
  621: [2, 2, 2, 2],
  622: [2, 2, 2, 0],
  623: [0, 0, 2, 3],
  624: [1, 1, 0, 3],
  625: [1, 1, 1, 1],
  626: [2, 2, 2, 2],
  627: [2, 2, 2, 3, 3, 2, 2, 3, 2, 2, 2, 2, 2, 3],
  628: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
  629: [2, 2, 2, 2, 2],
  630: [2, 0, 2, 2, 2, 2, 2, 2],
  631: [1, 1, 1, 1],
  632: [1, 2, 2, 2, 1, 3],
  633: [2, 2, 3, 3, 2, 3],
  634: [2, 2, 2, 2],
  635: [2, 3, 2, 3],
  636: [2, 3, 2, 3, 2, 2],
  637: [2, 2, 2, 2, 3],
  638: [2, 3, 2, 3, 2, 2, 3],
  639: [2, 3, 2, 3, 3],
  640: [2, 0, 2, 2],
  641: [3, 0, 0, 0, 0, 0, 0, 0, 0, 2, 3, 0, 0, 0, 2],
  642: [1, 0, 1, 1, 1],
  643: [2, 2, 2, 2, 2, 2],
  644: [2, 2, 2, 2],
  645: [2, 2, 3, 3, 2],
  646: [1, 1, 1, 1, 1],
  647: [1, 0, 0, 0, 0],
  648: [2, 2, 3, 2, 2],
  649: [2, 3, 2, 2, 2, 2],
  650: [2, 2, 2, 2, 2],
  651: [2, 3, 2, 3],
  652: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
  653: [0, 0, 0, 2, 3],
  654: [1, 2, 1, 2],
  655: [1, 2, 3, 3],
  656: [2, 3, 2, 2, 2],
  657: [2, 3, 2, 2, 2, 3],
  658: [2, 2, 3, 3, 3],
  659: [3, 3, 2, 2, 2, 2, 3, 3, 3, 2, 2, 2, 2, 2, 2],
  660: [0, 1, 1, 1, 1, 1, 1],
  661: [1, 1, 1, 1],
  662: [3, 2, 3, 2],
  663: [2, 2, 2, 2, 3],
  664: [1, 1, 1, 1],
  665: [3, 2, 3, 2, 2, 3],
  666: [2, 2, 2, 2],
  667: [2, 2, 2, 1, 2],
  668: [2, 2, 2, 2, 2, 2, 2, 3, 2],
  669: [2, 2, 2, 2, 2, 2],
  670: [3, 2, 1, 3],
  671: [2, 3, 2, 2],
  672: [2, 2, 3, 2, 2],
  673: [2, 2, 2, 3],
  674: [1, 1, 1, 1],
  675: [1, 1, 2, 3],
  676: [2, 3, 2, 2],
  677: [1, 2, 1, 2, 2, 1, 2, 1, 1],
  678: [2, 2, 3, 2],
  679: [1, 1, 0, 2, 1, 2],
  680: [1, 1, 1, 1, 1, 1],
  681: [2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2],
  682: [3, 1, 2, 2],
  683: [3, 0, 2, 2],
  684: [3, 3, 2, 3, 2, 2],
  685: [0, 1, 2, 3, 0],
  686: [2, 3, 3, 2, 2, 3, 2],
  687: [3, 2, 2, 3, 2],
  688: [2, 2, 2, 2, 3, 2, 2],
  689: [2, 2, 2, 2, 3, 2, 3, 2, 2, 2, 3, 2, 2, 2],
  690: [3, 2, 3, 2],
  691: [0, 1, 0, 0, 1, 0, 2, 2, 0, 1],
  692: [1, 1, 1, 1],
  693: [2, 2, 2, 2, 3],
  694: [3, 3, 2, 3],
  695: [2, 2, 2, 2, 2, 2, 3, 2, 2],
  696: [2, 2, 2, 2, 2, 2, 2, 2],
  697: [2, 2, 2, 2],
  698: [2, 2, 3, 2],
  699: [2, 2, 3, 2, 2],
  700: [1, 1, 1, 1],
  701: [2, 3, 2, 2],
  702: [1, 1, 1, 1],
  703: [3, 3, 3, 2, 2],
  704: [1, 2, 2, 0, 0],
  705: [2, 2, 2, 3],
  706: [1, 1, 1, 1, 1, 1, 1, 1],
  707: [2, 2, 3, 2, 2],
  708: [1, 1, 2, 2, 1],
  709: [2, 2, 2, 3, 2, 2],
  710: [2, 3, 1, 3, 1],
  711: [2, 3, 2, 2, 2],
  712: [2, 2, 3, 2, 3, 2, 2],
  713: [3, 2, 3, 2],
  714: [3, 3, 2],
  715: [1, 1, 1, 1],
  716: [1, 1, 1, 1, 1, 1, 1, 1],
  717: [2, 2, 2, 2, 2, 3],
  718: [1, 1, 1, 1, 1, 1, 1, 1, 1],
  719: [2, 3, 3, 3, 3, 2],
  720: [3, 3, 2, 2],
  721: [3, 3, 2, 2],
  722: [1, 1, 1, 1],
  723: [2, 2, 2, 2],
  724: [2, 2, 2, 2, 2],
  725: [2, 2, 3, 3],
  726: [0, 3, 0, 2, 0, 0],
  727: [2, 3, 2, 2],
  728: [1, 1, 2, 1],
  729: [2, 2, 2, 2, 2, 1],
  730: [3, 2, 2, 2, 2, 3, 2, 2],
  731: [1, 1, 2, 2, 1, 1],
  732: [2, 3, 3, 2, 2],
  733: [2, 2, 3, 2],
  734: [2, 2, 0, 2, 2, 0],
  735: [2, 2, 2, 2, 2],
  736: [1, 1, 1, 1, 1, 1, 1],
  737: [1, 1, 1, 1],
  738: [3, 2, 2, 2, 2],
  739: [2, 2, 3, 3, 2, 2],
  740: [2, 0, 0, 2, 2],
  741: [2, 2, 2, 2],
  742: [1, 1, 1, 1],
  743: [1, 1, 1, 1, 1],
  744: [2, 2, 3, 2],
  745: [1, 1, 1, 1],
  746: [2, 2, 2, 2],
  747: [2, 3, 2, 3],
  748: [2],
  749: [2, 1, 3, 1, 2, 2, 2, 1, 3],
  750: [2, 2, 3, 2, 2, 3],
  751: [2, 2, 2, 2],
  752: [1, 1, 1, 1, 1, 1, 1, 1, 1],
  753: [2, 2, 2, 2, 2, 2, 2],
  754: [2, 2, 1, 2, 1],
  755: [0, 0, 0, 0, 0, 0],
  756: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 1],
  757: [3, 2, 0, 2, 2],
  758: [1, 1, 1, 1],
  759: [0, 2, 0, 0],
  760: [2, 3, 2, 2, 3],
  761: [2, 2, 3, 2, 2, 1, 1, 2],
  762: [3, 2, 2, 3, 2],
  763: [1, 1, 1, 1, 1],
  764: [2, 2, 3, 2],
  765: [2, 2, 2, 2],
  766: [1, 1, 1, 1, 1, 1, 1],

In [53]:
user_context_features

{0: [2, 3],
 1: [2, 3],
 2: [1, 3],
 3: [1, 2, 3],
 4: [1],
 5: [2],
 6: [1, 2, 3],
 7: [1, 2],
 8: [2],
 9: [2],
 10: [1, 2, 3],
 11: [1],
 12: [1],
 13: [0, 2, 3],
 14: [0, 1, 2],
 15: [2, 3],
 16: [2, 3],
 17: [1],
 18: [1],
 19: [2],
 20: [2, 3],
 21: [2, 3],
 22: [2, 3],
 23: [2, 3],
 24: [0, 1, 2],
 25: [2, 3],
 26: [1],
 27: [0],
 28: [1],
 29: [1],
 30: [1, 2],
 31: [2, 3],
 32: [2, 3],
 33: [2, 3],
 34: [2, 3],
 35: [2, 3],
 36: [1, 2],
 37: [2, 3],
 38: [2],
 39: [2, 3],
 40: [2],
 41: [1, 2],
 42: [0, 2],
 43: [1, 2],
 44: [2, 3],
 45: [2],
 46: [2, 3],
 47: [1, 2, 3],
 48: [1],
 49: [1, 2],
 50: [1],
 51: [2, 3],
 52: [2],
 53: [2],
 54: [1],
 55: [2, 3],
 56: [2, 3],
 57: [0, 1, 2, 3],
 58: [0, 2],
 59: [2],
 60: [1],
 61: [1],
 62: [2, 3],
 63: [1, 2],
 64: [2, 3],
 65: [1],
 66: [1, 2],
 67: [2, 3],
 68: [1],
 69: [0, 1],
 70: [1, 2],
 71: [1],
 72: [2],
 73: [1, 2, 3],
 74: [1, 2, 3],
 75: [2],
 76: [1],
 77: [1, 2, 3],
 78: [1, 2],
 79: [2, 3],
 80: [2],
 81: [1, 2, 3],
 82: [1, 2],
 83: [1],
 84: [0],
 85: [2],
 86: [2, 3],
 87: [2, 3],
 88: [1, 2],
 89: [2, 3],
 90: [2, 3],
 91: [1, 2],
 92: [1],
 93: [0, 2],
 94: [1, 2],
 95: [2, 3],
 96: [1, 2],
 97: [1],
 98: [0],
 99: [1, 2],
 100: [1],
 101: [1],
 102: [2, 3],
 103: [1],
 104: [2, 3],
 105: [1, 2, 3],
 106: [2],
 107: [2, 3],
 108: [2, 3],
 109: [2, 3],
 110: [1],
 111: [1],
 112: [1],
 113: [2, 3],
 114: [0, 2],
 115: [2, 3],
 116: [1],
 117: [2, 3],
 118: [2, 3],
 119: [1, 2, 3],
 120: [2, 3],
 121: [2, 3],
 122: [1],
 123: [2],
 124: [1],
 125: [0, 2],
 126: [1, 2, 3],
 127: [0, 1],
 128: [2, 3],
 129: [0, 1],
 130: [2, 3],
 131: [1],
 132: [1],
 133: [2],
 134: [2, 3],
 135: [2, 3],
 136: [2],
 137: [2, 3],
 138: [0, 1],
 139: [2, 3],
 140: [1, 2, 3],
 141: [1],
 142: [1, 3],
 143: [1],
 144: [0],
 145: [1, 3],
 146: [2],
 147: [1, 2, 3],
 148: [1],
 149: [2, 3],
 150: [1],
 151: [0, 1],
 152: [2, 3],
 153: [0, 1],
 154: [2, 3],
 155: [2, 3],
 156: [2, 3],
 157: [2, 3],
 158: [2, 3],
 159: [2, 3],
 160: [1, 2, 3],
 161: [1, 2],
 162: [1, 2, 3],
 163: [2, 3],
 164: [0],
 165: [2, 3],
 166: [1, 2, 3],
 167: [2, 3],
 168: [2, 3],
 169: [2, 3],
 170: [2, 3],
 171: [0],
 172: [2],
 173: [1, 2],
 174: [2],
 175: [1],
 176: [2],
 177: [1, 2],
 178: [1, 2, 3],
 179: [0, 1],
 180: [2, 3],
 181: [2, 3],
 182: [2, 3],
 183: [2, 3],
 184: [1],
 185: [0, 1, 2],
 186: [2],
 187: [1, 2, 3],
 188: [1],
 189: [1, 2, 3],
 190: [1, 2],
 191: [1, 2],
 192: [1, 2, 3],
 193: [1, 2, 3],
 194: [0, 2],
 195: [2],
 196: [2],
 197: [1],
 198: [1, 2, 3],
 199: [1, 2, 3],
 200: [2, 3],
 201: [1, 2],
 202: [2, 3],
 203: [1, 3],
 204: [2],
 205: [1, 2],
 206: [1],
 207: [1, 2, 3],
 208: [1, 2, 3],
 209: [2, 3],
 210: [2, 3],
 211: [1],
 212: [2, 3],
 213: [0],
 214: [2, 3],
 215: [2],
 216: [1, 2, 3],
 217: [0, 1],
 218: [2, 3],
 219: [2, 3],
 220: [2, 3],
 221: [0],
 222: [1, 2, 3],
 223: [1],
 224: [1, 2, 3],
 225: [0, 1, 2],
 226: [2],
 227: [2, 3],
 228: [0, 2, 3],
 229: [2],
 230: [0, 2],
 231: [1, 2, 3],
 232: [2],
 233: [1],
 234: [2, 3],
 235: [2, 3],
 236: [1],
 237: [1, 2],
 238: [2, 3],
 239: [0],
 240: [2, 3],
 241: [2, 3],
 242: [0, 3],
 243: [1],
 244: [2],
 245: [1],
 246: [1, 2, 3],
 247: [2, 3],
 248: [2, 3],
 249: [1],
 250: [1, 2],
 251: [0, 2],
 252: [1, 2],
 253: [1, 2],
 254: [2],
 255: [2, 3],
 256: [2, 3],
 257: [1, 2],
 258: [1],
 259: [1, 2],
 260: [2],
 261: [2],
 262: [0, 2],
 263: [1],
 264: [1],
 265: [2, 3],
 266: [2, 3],
 267: [2, 3],
 268: [1, 2, 3],
 269: [2, 3],
 270: [1, 2],
 271: [2, 3],
 272: [2, 3],
 273: [1, 2],
 274: [2, 3],
 275: [2, 3],
 276: [2, 3],
 277: [0, 2, 3],
 278: [2, 3],
 279: [1],
 280: [0],
 281: [2, 3],
 282: [2, 3],
 283: [0, 2, 3],
 284: [2],
 285: [1],
 286: [0],
 287: [1],
 288: [0, 1],
 289: [2, 3],
 290: [2, 3],
 291: [2, 3],
 292: [2, 3],
 293: [2, 3],
 294: [2, 3],
 295: [2, 3],
 296: [2, 3],
 297: [2],
 298: [2],
 299: [1, 2],
 300: [1, 2, 3],
 301: [2, 3],
 302: [2, 3],
 303: [0, 1],
 304: [1, 2, 3],
 305: [2, 3],
 306: [1],
 307: [2, 3],
 308: [1, 2],
 309: [0, 3],
 310: [2],
 311: [0, 1],
 312: [2, 3],
 313: [1, 2, 3],
 314: [1],
 315: [2, 3],
 316: [1, 2, 3],
 317: [2, 3],
 318: [2, 3],
 319: [0, 1],
 320: [2, 3],
 321: [1, 2, 3],
 322: [2, 3],
 323: [2, 3],
 324: [1],
 325: [2, 3],
 326: [2, 3],
 327: [0],
 328: [2, 3],
 329: [2, 3],
 330: [1],
 331: [2, 3],
 332: [2],
 333: [0, 1],
 334: [2, 3],
 335: [2, 3],
 336: [2],
 337: [1],
 338: [1, 2],
 339: [1, 2, 3],
 340: [1],
 341: [1, 2],
 342: [2, 3],
 343: [0, 1, 2],
 344: [1],
 345: [0, 2],
 346: [2, 3],
 347: [1],
 348: [1, 2, 3],
 349: [2, 3],
 350: [0, 2, 3],
 351: [1, 2],
 352: [1],
 353: [2, 3],
 354: [2, 3],
 355: [2],
 356: [1],
 357: [1, 2],
 358: [0, 2, 3],
 359: [1, 2],
 360: [2, 3],
 361: [2],
 362: [0, 2],
 363: [0, 2],
 364: [1],
 365: [0, 1, 2],
 366: [0, 1, 3],
 367: [0, 2, 3],
 368: [1, 2, 3],
 369: [1, 2],
 370: [1, 2, 3],
 371: [1],
 372: [1, 2],
 373: [2, 3],
 374: [0],
 375: [2],
 376: [1, 2, 3],
 377: [1, 2],
 378: [2, 3],
 379: [2, 3],
 380: [2, 3],
 381: [1],
 382: [2, 3],
 383: [2, 3],
 384: [2, 3],
 385: [2, 3],
 386: [2, 3],
 387: [2, 3],
 388: [1],
 389: [0, 2],
 390: [1, 2, 3],
 391: [1],
 392: [2, 3],
 393: [1, 2],
 394: [2, 3],
 395: [1],
 396: [2, 3],
 397: [1, 2, 3],
 398: [1],
 399: [2, 3],
 400: [0, 1, 2],
 401: [1, 2],
 402: [2, 3],
 403: [2],
 404: [1],
 405: [2, 3],
 406: [2, 3],
 407: [3],
 408: [0, 1, 2, 3],
 409: [1],
 410: [2, 3],
 411: [0, 2, 3],
 412: [0, 1, 2],
 413: [2, 3],
 414: [2, 3],
 415: [2, 3],
 416: [0, 1, 2, 3],
 417: [2, 3],
 418: [1],
 419: [2, 3],
 420: [1, 2],
 421: [1, 2, 3],
 422: [2],
 423: [2],
 424: [1],
 425: [0, 2, 3],
 426: [2, 3],
 427: [2, 3],
 428: [1, 2, 3],
 429: [1],
 430: [1],
 431: [2, 3],
 432: [2, 3],
 433: [1],
 434: [2, 3],
 435: [2, 3],
 436: [0, 2],
 437: [1],
 438: [2, 3],
 439: [1, 2, 3],
 440: [2, 3],
 441: [0, 1, 2],
 442: [2, 3],
 443: [0, 2, 3],
 444: [2],
 445: [2, 3],
 446: [1, 2],
 447: [0, 1],
 448: [1, 2],
 449: [2, 3],
 450: [1, 2],
 451: [1],
 452: [2, 3],
 453: [0, 1, 2, 3],
 454: [2],
 455: [2],
 456: [2, 3],
 457: [1, 2, 3],
 458: [1, 2],
 459: [1, 2],
 460: [2, 3],
 461: [1, 2],
 462: [2, 3],
 463: [0, 1],
 464: [1, 2, 3],
 465: [1],
 466: [1],
 467: [1, 2],
 468: [2],
 469: [2, 3],
 470: [1],
 471: [2, 3],
 472: [0, 2],
 473: [0, 1, 2],
 474: [0],
 475: [2, 3],
 476: [1, 2, 3],
 477: [1],
 478: [1],
 479: [2],
 480: [2],
 481: [2],
 482: [2, 3],
 483: [2, 3],
 484: [1],
 485: [1, 2, 3],
 486: [1, 2, 3],
 487: [0],
 488: [1],
 489: [0, 1, 2],
 490: [2],
 491: [2, 3],
 492: [2, 3],
 493: [0, 1],
 494: [2, 3],
 495: [2, 3],
 496: [0, 1],
 497: [1, 2, 3],
 498: [0, 1, 2, 3],
 499: [1, 3],
 500: [2, 3],
 501: [2, 3],
 502: [2],
 503: [2],
 504: [0, 1, 2],
 505: [1],
 506: [2],
 507: [2, 3],
 508: [2, 3],
 509: [2, 3],
 510: [1],
 511: [1, 2, 3],
 512: [2, 3],
 513: [1],
 514: [2],
 515: [2, 3],
 516: [2, 3],
 517: [1, 2],
 518: [2, 3],
 519: [2],
 520: [1, 2],
 521: [2, 3],
 522: [1, 2, 3],
 523: [2, 3],
 524: [2, 3],
 525: [0, 1, 2],
 526: [1, 2, 3],
 527: [1, 2, 3],
 528: [2, 3],
 529: [0, 2],
 530: [2, 3],
 531: [2],
 532: [1, 2, 3],
 533: [2],
 534: [2, 3],
 535: [1, 2, 3],
 536: [2, 3],
 537: [2, 3],
 538: [1],
 539: [1, 2],
 540: [2, 3],
 541: [2],
 542: [2],
 543: [2, 3],
 544: [2, 3],
 545: [0, 2],
 546: [2, 3],
 547: [2],
 548: [0, 1],
 549: [1],
 550: [2, 3],
 551: [1],
 552: [2],
 553: [1, 2, 3],
 554: [2, 3],
 555: [1, 2, 3],
 556: [2, 3],
 557: [1, 2, 3],
 558: [2, 3],
 559: [0],
 560: [1],
 561: [1, 2],
 562: [2, 3],
 563: [2],
 564: [1],
 565: [1, 2],
 566: [2, 3],
 567: [2, 3],
 568: [2, 3],
 569: [1, 2],
 570: [2, 3],
 571: [2, 3],
 572: [2, 3],
 573: [2, 3],
 574: [1],
 575: [2, 3],
 576: [2],
 577: [2, 3],
 578: [1],
 579: [2],
 580: [2, 3],
 581: [2, 3],
 582: [2, 3],
 583: [2, 3],
 584: [2],
 585: [2, 3],
 586: [1, 2, 3],
 587: [1],
 588: [1],
 589: [1],
 590: [2],
 591: [0, 1, 2],
 592: [1, 2],
 593: [1],
 594: [2, 3],
 595: [2, 3],
 596: [2, 3],
 597: [2, 3],
 598: [2, 3],
 599: [1],
 600: [2],
 601: [0],
 602: [1, 2],
 603: [0, 1],
 604: [1],
 605: [2, 3],
 606: [1],
 607: [2, 3],
 608: [2, 3],
 609: [2, 3],
 610: [2, 3],
 611: [2],
 612: [2],
 613: [2, 3],
 614: [1],
 615: [2],
 616: [2, 3],
 617: [1],
 618: [0, 1, 2, 3],
 619: [2],
 620: [1, 2],
 621: [2],
 622: [0, 2],
 623: [0, 2, 3],
 624: [0, 1, 3],
 625: [1],
 626: [2],
 627: [2, 3],
 628: [1],
 629: [2],
 630: [0, 2],
 631: [1],
 632: [1, 2, 3],
 633: [2, 3],
 634: [2],
 635: [2, 3],
 636: [2, 3],
 637: [2, 3],
 638: [2, 3],
 639: [2, 3],
 640: [0, 2],
 641: [0, 2, 3],
 642: [0, 1],
 643: [2],
 644: [2],
 645: [2, 3],
 646: [1],
 647: [0, 1],
 648: [2, 3],
 649: [2, 3],
 650: [2],
 651: [2, 3],
 652: [1],
 653: [0, 2, 3],
 654: [1, 2],
 655: [1, 2, 3],
 656: [2, 3],
 657: [2, 3],
 658: [2, 3],
 659: [2, 3],
 660: [0, 1],
 661: [1],
 662: [2, 3],
 663: [2, 3],
 664: [1],
 665: [2, 3],
 666: [2],
 667: [1, 2],
 668: [2, 3],
 669: [2],
 670: [1, 2, 3],
 671: [2, 3],
 672: [2, 3],
 673: [2, 3],
 674: [1],
 675: [1, 2, 3],
 676: [2, 3],
 677: [1, 2],
 678: [2, 3],
 679: [0, 1, 2],
 680: [1],
 681: [2],
 682: [1, 2, 3],
 683: [0, 2, 3],
 684: [2, 3],
 685: [0, 1, 2, 3],
 686: [2, 3],
 687: [2, 3],
 688: [2, 3],
 689: [2, 3],
 690: [2, 3],
 691: [0, 1, 2],
 692: [1],
 693: [2, 3],
 694: [2, 3],
 695: [2, 3],
 696: [2],
 697: [2],
 698: [2, 3],
 699: [2, 3],
 700: [1],
 701: [2, 3],
 702: [1],
 703: [2, 3],
 704: [0, 1, 2],
 705: [2, 3],
 706: [1],
 707: [2, 3],
 708: [1, 2],
 709: [2, 3],
 710: [1, 2, 3],
 711: [2, 3],
 712: [2, 3],
 713: [2, 3],
 714: [2, 3],
 715: [1],
 716: [1],
 717: [2, 3],
 718: [1],
 719: [2, 3],
 720: [2, 3],
 721: [2, 3],
 722: [1],
 723: [2],
 724: [2],
 725: [2, 3],
 726: [0, 2, 3],
 727: [2, 3],
 728: [1, 2],
 729: [1, 2],
 730: [2, 3],
 731: [1, 2],
 732: [2, 3],
 733: [2, 3],
 734: [0, 2],
 735: [2],
 736: [1],
 737: [1],
 738: [2, 3],
 739: [2, 3],
 740: [0, 2],
 741: [2],
 742: [1],
 743: [1],
 744: [2, 3],
 745: [1],
 746: [2],
 747: [2, 3],
 748: [2],
 749: [1, 2, 3],
 750: [2, 3],
 751: [2],
 752: [1],
 753: [2],
 754: [1, 2],
 755: [0],
 756: [1, 2],
 757: [0, 2, 3],
 758: [1],
 759: [0, 2],
 760: [2, 3],
 761: [1, 2, 3],
 762: [2, 3],
 763: [1],
 764: [2, 3],
 765: [2],
 766: [1],
 767: [2],
 768: [2, 3],
 769: [1],
 770: [1],
 771: [1, 2, 3],
 772: [1],
 773: [1],
 774: [1, 2, 3],
 775: [2],
 776: [0, 1, 2, 3],
 777: [1, 3],
 778: [0],
 779: [2, 3],
 780: [0, 2, 3],
 781: [1, 2, 3],
 782: [2, 3],
 783: [2],
 784: [0],
 785: [2, 3],
 786: [1],
 787: [0, 2, 3],
 788: [1],
 789: [1],
 790: [1, 2],
 791: [2],
 792: [0],
 793: [2],
 794: [2, 3],
 795: [0, 1],
 796: [1, 2, 3],
 797: [2],
 798: [2, 3],
 799: [0, 1, 2],
 800: [2, 3],
 801: [2],
 802: [1, 2, 3],
 803: [2, 3],
 804: [0, 1, 2],
 805: [2],
 806: [0],
 807: [2],
 808: [1, 2, 3],
 809: [1],
 810: [2],
 811: [0, 2],
 812: [2],
 813: [2, 3],
 814: [1],
 815: [2, 3],
 816: [1, 2, 3],
 817: [2, 3],
 818: [2],
 819: [2, 3],
 820: [0],
 821: [0, 2, 3],
 822: [1, 2],
 823: [2, 3],
 824: [1, 2],
 825: [2],
 826: [1, 3],
 827: [1, 2],
 828: [2],
 829: [2, 3],
 830: [2, 3],
 831: [1, 2],
 832: [2, 3],
 833: [1],
 834: [2, 3],
 835: [2, 3],
 836: [2],
 837: [1, 3],
 838: [1, 2],
 839: [2, 3],
 840: [2],
 841: [0, 1, 2],
 842: [2],
 843: [1, 2],
 844: [0, 1],
 845: [2, 3],
 846: [1],
 847: [0, 1, 2],
 848: [2, 3],
 849: [0, 1],
 850: [2, 3],
 851: [0, 1],
 852: [0, 3],
 853: [2, 3],
 854: [0, 2],
 855: [0, 2, 3],
 856: [1, 2, 3],
 857: [2, 3],
 858: [1, 2],
 859: [2, 3],
 860: [2],
 861: [1, 2],
 862: [1, 2],
 863: [0, 2, 3],
 864: [2],
 865: [0, 2, 3],
 866: [1, 3],
 867: [1, 2, 3],
 868: [2, 3],
 869: [0, 1, 2, 3],
 870: [0, 1, 2],
 871: [1],
 872: [2, 3],
 873: [2, 3],
 874: [0, 1, 2],
 875: [1, 2, 3],
 876: [2],
 877: [1],
 878: [2, 3],
 879: [2],
 880: [2],
 881: [2],
 882: [2, 3],
 883: [2, 3],
 884: [1],
 885: [2, 3],
 886: [1, 2, 3],
 887: [3],
 888: [2, 3],
 889: [0, 1, 2],
 890: [0, 2],
 891: [1],
 892: [1, 2, 3],
 893: [2, 3],
 894: [1, 2, 3],
 895: [0, 2],
 896: [1],
 897: [1],
 898: [2, 3],
 899: [0, 2],
 900: [2],
 901: [1],
 902: [1, 2],
 903: [2, 3],
 904: [1],
 905: [1, 3],
 906: [2, 3],
 907: [2, 3],
 908: [1, 3],
 909: [1],
 910: [2, 3],
 911: [2, 3],
 912: [2],
 913: [2, 3],
 914: [2, 3],
 915: [2],
 916: [2, 3],
 917: [2, 3],
 918: [1],
 919: [2, 3],
 920: [1, 2, 3],
 921: [1, 2, 3],
 922: [1],
 923: [0, 1, 2],
 924: [1],
 925: [1],
 926: [2, 3],
 927: [2, 3],
 928: [2, 3],
 929: [0, 1, 2],
 930: [1],
 931: [0, 1, 2, 3],
 932: [2, 3],
 933: [1],
 934: [1],
 935: [2, 3],
 936: [0, 1],
 937: [1, 2, 3],
 938: [2, 3],
 939: [1, 2, 3],
 940: [2],
 941: [2],
 942: [2],
 943: [1, 2],
 944: [2, 3],
 945: [0, 1],
 946: [0, 2],
 947: [0, 3],
 948: [1],
 949: [2],
 950: [0, 2, 3],
 951: [1, 3],
 952: [1, 2, 3],
 953: [2, 3],
 954: [1, 2],
 955: [0, 2],
 956: [2, 3],
 957: [1, 2],
 958: [2, 3],
 959: [2, 3],
 960: [1],
 961: [1, 2, 3],
 962: [2, 3],
 963: [2, 3],
 964: [1, 2, 3],
 965: [1],
 966: [2, 3],
 967: [2, 3],
 968: [0],
 969: [0, 1],
 970: [1],
 971: [0, 2],
 972: [1],
 973: [1],
 974: [2],
 975: [2, 3],
 976: [2, 3],
 977: [1, 2, 3],
 978: [2, 3],
 979: [1],
 980: [2, 3],
 981: [0, 2],
 982: [0, 2, 3],
 983: [1, 2, 3],
 984: [1, 2, 3],
 985: [1, 2, 3],
 986: [1, 2],
 987: [2, 3],
 988: [1],
 989: [2, 3],
 990: [0, 2],
 991: [1, 2],
 992: [1],
 993: [1],
 994: [1, 2, 3],
 995: [1],
 996: [2, 3],
 997: [1, 2, 3],
 998: [1, 2],
 999: [1],
 ...}

In [51]:
%%time
train_df_new = pd.concat([negative_samples, train_df])
df_with_item_feature = train_df_new.merge(item_feature, how='left')
train_df_new = encode_item_features(df_with_item_feature)
train_df_new.reset_index(drop=True, inplace=True)

CPU times: user 889 ms, sys: 47.5 ms, total: 937 ms
Wall time: 936 ms

In [52]:
train_df_new

          user_id  item_id  rating  context_feature_id  item_feature_id
0             0.0  24415.0     0.0                 2.0                0
1             0.0   1758.0     0.0                 2.0                1
2             0.0   4525.0     0.0                 3.0                2
3             0.0  31023.0     0.0                 3.0                3
4             0.0  34966.0     0.0                 3.0                1
...           ...      ...     ...                 ...              ...
1940485  169697.0   1074.0     1.0                 2.0               15
1940486  169697.0   1074.0     1.0                 2.0               15
1940487  169697.0    244.0     1.0                 2.0                4
1940488  169697.0   1262.0     1.0                 2.0               29
1940489  169697.0   1283.0     1.0                 2.0                1

[1940490 rows x 5 columns]

In [17]:
train_df_new.to_feather('training_sampled')

In [11]:
train_df_new = pd.read_feather('training_sampled')
train_df_new

         level_0  user_id  item_id  rating  context_feature_id
0              0        0     6712       0                   4
1              1        0    15507       0                   4
2              2        0    32760       0                   4
3              3        0    11321       0                   4
4              4        0    33311       0                   4
...          ...      ...      ...     ...                 ...
1940485  1940485   169697     1074       1                   2
1940486  1940486   169697     1074       1                   2
1940487  1940487   169697      244       1                   2
1940488  1940488   169697     1262       1                   2
1940489  1940489   169697     1283       1                   2

[1940490 rows x 5 columns]

In [43]:
# train_df_new = train_df_new.reset_index()
# train_df_new['context_feature_id'] = train_df_new['context_feature_id'].fillna(4)
# train_df_new = train_df_new.astype('int')
# # train_df_new = train_df_new.drop(columns=['level_0', 'index'])
# train_df_new = train_df_new.drop(columns=['index'])

In [13]:
# train_df_new.to_feather('training_sampled')

In [18]:
training_df, valid_df = train_test_split(train_df_new)

### Matrix Factorization Model
---

In [13]:
class MF_bias(nn.Module):
    def __init__(self, num_users, num_items, emb_size=100, seed=630):
        super(MF_bias, self).__init__()
        torch.manual_seed(seed)
        self.user_emb = nn.Embedding(num_users, emb_size)
        self.user_bias = nn.Embedding(num_users, 1)
        self.item_emb = nn.Embedding(num_items, emb_size)
        self.item_bias = nn.Embedding(num_items, 1)
        
        self.user_emb.weight.data.uniform_(0,0.05)
        self.item_emb.weight.data.uniform_(0,0.05)
        self.user_bias.weight.data.uniform_(-0.01,0.01)
        self.item_bias.weight.data.uniform_(-0.01,0.01)

    def forward(self, u, v):
        U = self.user_emb(u)
        V = self.item_emb(v)
        b_u = self.user_bias(u).squeeze()
        b_v = self.item_bias(v).squeeze()
        return ((U*V).sum(1) + b_u + b_v)

In [14]:
def train_epocs(model, epochs=10, lr=0.01, wd=0.0):
    optimizer = torch.optim.Adam(model.parameters(), lr=lr, weight_decay=wd)
    for i in range(epochs):
        model.train()
        users = torch.LongTensor(training_df.user_id.values)  
        items = torch.LongTensor(training_df.item_id.values) 
        ratings = torch.FloatTensor(training_df.rating.values)  
    
        y_hat = model(users, items)
        loss = F.binary_cross_entropy_with_logits(y_hat, ratings)
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
        testloss, acc = valid_loss(model)
        print("train loss %.3f valid loss %.3f accuracy %.3f" % (loss.item(), testloss, acc))

In [15]:
def valid_loss(model):
    model.eval()
    users = torch.LongTensor(valid_df.user_id.values)  
    items = torch.LongTensor(valid_df.item_id.values) 
    ratings = torch.FloatTensor(valid_df.rating.values)  
    y_hat = model(users, items)
    loss = F.binary_cross_entropy_with_logits(y_hat, ratings)
    preds = (torch.sigmoid(y_hat) > 0.5).float()
    return loss.item(), balanced_accuracy_score(ratings, preds)

In [16]:
num_users = len(train_df_new['user_id'].unique())
num_items = len(train_df_new['item_id'].unique())
model = MF_bias(num_users, num_items, emb_size=100)

In [17]:
train_epocs(model)

train loss 0.694 valid loss 0.686 accuracy 0.503
train loss 0.679 valid loss 0.676 accuracy 0.616
train loss 0.664 valid loss 0.663 accuracy 0.820
train loss 0.646 valid loss 0.646 accuracy 0.856
train loss 0.623 valid loss 0.625 accuracy 0.855
train loss 0.597 valid loss 0.600 accuracy 0.856
train loss 0.568 valid loss 0.572 accuracy 0.856
train loss 0.536 valid loss 0.542 accuracy 0.857
train loss 0.503 valid loss 0.511 accuracy 0.857
train loss 0.469 valid loss 0.481 accuracy 0.857

In [18]:
train_epocs(model, epochs=5, lr=0.001)

train loss 0.435 valid loss 0.478 accuracy 0.857
train loss 0.432 valid loss 0.475 accuracy 0.857
train loss 0.429 valid loss 0.472 accuracy 0.857
train loss 0.426 valid loss 0.469 accuracy 0.857
train loss 0.422 valid loss 0.466 accuracy 0.857

In [19]:
# ============================ #
# HYPER PARAMETER EXPERIMENTATION
# ============================ #
model2 = MF_bias(num_users, num_items, emb_size=200)
train_epocs(model2, epochs=10, lr=0.1)

train loss 0.695 valid loss 0.684 accuracy 0.607
train loss 0.605 valid loss 0.413 accuracy 0.850
train loss 0.293 valid loss 0.442 accuracy 0.847
train loss 0.210 valid loss 0.478 accuracy 0.845
train loss 0.131 valid loss 0.496 accuracy 0.845
train loss 0.072 valid loss 0.514 accuracy 0.849
train loss 0.037 valid loss 0.544 accuracy 0.851
train loss 0.019 valid loss 0.586 accuracy 0.851
train loss 0.010 valid loss 0.639 accuracy 0.852
train loss 0.005 valid loss 0.696 accuracy 0.852

In [20]:
model3 = MF_bias(num_users, num_items, emb_size=200)
train_epocs(model3, epochs=10, lr=0.01)

train loss 0.695 valid loss 0.681 accuracy 0.500
train loss 0.671 valid loss 0.665 accuracy 0.591
train loss 0.646 valid loss 0.643 accuracy 0.843
train loss 0.617 valid loss 0.614 accuracy 0.857
train loss 0.582 valid loss 0.579 accuracy 0.857
train loss 0.541 valid loss 0.541 accuracy 0.856
train loss 0.498 valid loss 0.501 accuracy 0.857
train loss 0.454 valid loss 0.462 accuracy 0.858
train loss 0.411 valid loss 0.429 accuracy 0.858
train loss 0.374 valid loss 0.402 accuracy 0.858

In [21]:
train_epocs(model3, epochs=5, lr=0.005)

train loss 0.342 valid loss 0.390 accuracy 0.858
train loss 0.327 valid loss 0.380 accuracy 0.858
train loss 0.313 valid loss 0.372 accuracy 0.858
train loss 0.300 valid loss 0.366 accuracy 0.858
train loss 0.289 valid loss 0.360 accuracy 0.857

In [22]:
train_epocs(model3, epochs=5, lr=0.005)

train loss 0.279 valid loss 0.356 accuracy 0.857
train loss 0.269 valid loss 0.353 accuracy 0.857
train loss 0.259 valid loss 0.351 accuracy 0.857
train loss 0.250 valid loss 0.349 accuracy 0.857
train loss 0.242 valid loss 0.348 accuracy 0.857

In [23]:
train_epocs(model3, epochs=5, lr=0.005)

train loss 0.234 valid loss 0.347 accuracy 0.858
train loss 0.225 valid loss 0.347 accuracy 0.858
train loss 0.217 valid loss 0.346 accuracy 0.858
train loss 0.209 valid loss 0.346 accuracy 0.858
train loss 0.202 valid loss 0.347 accuracy 0.858

In [24]:
model4 = MF_bias(num_users, num_items, emb_size=500)
train_epocs(model4, epochs=15, lr=0.01)

train loss 0.705 valid loss 0.671 accuracy 0.500
train loss 0.654 valid loss 0.641 accuracy 0.503
train loss 0.610 valid loss 0.603 accuracy 0.855
train loss 0.561 valid loss 0.556 accuracy 0.859
train loss 0.505 valid loss 0.504 accuracy 0.857
train loss 0.446 valid loss 0.455 accuracy 0.857
train loss 0.391 valid loss 0.415 accuracy 0.858
train loss 0.343 valid loss 0.387 accuracy 0.858
train loss 0.306 valid loss 0.372 accuracy 0.858
train loss 0.279 valid loss 0.368 accuracy 0.858
train loss 0.258 valid loss 0.370 accuracy 0.858
train loss 0.241 valid loss 0.374 accuracy 0.858
train loss 0.226 valid loss 0.380 accuracy 0.858
train loss 0.210 valid loss 0.385 accuracy 0.858
train loss 0.194 valid loss 0.390 accuracy 0.858

## Embedding Model

In [30]:
class Embedding_Model(nn.Module):
    def __init__(self, num_context=4, num_item_feature=194, emb_size=100, seed=630):
        super(Embedding_Model, self).__init__()
        torch.manual_seed(seed)
        self.context_emb = nn.Embedding(num_context, emb_size)
        self.item_feature_emb = nn.Embedding(num_item_feature, emb_size)

        self.linear1 = nn.Linear(2*emb_size, 4*emb_size)
        self.linear2 = nn.Linear(4*emb_size, emb_size)
        self.linear3 = nn.Linear(emb_size, 1)

        # self.user_emb.weight.data.uniform_(0,0.05)
        # self.item_emb.weight.data.uniform_(0,0.05)
        # self.user_bias.weight.data.uniform_(-0.01,0.01)
        # self.item_bias.weight.data.uniform_(-0.01,0.01)

    def forward(self, u, v):
        U = self.context_emb(u)
        V = self.item_feature_emb(v)
        X = torch.cat([U,V], 1)
        X = self.linear1(X)
        X = F.relu(X)
        X = self.linear2(X)
        X = F.relu(X)
        X = self.linear3(X)

        return X

In [33]:
def train_epocs(model, epochs=10, lr=0.01, wd=0.0):
    optimizer = torch.optim.Adam(model.parameters(), lr=lr, weight_decay=wd)
    for i in range(epochs):
        model.train()
        context_features = torch.LongTensor(training_df.context_feature_id)  
        item_features = torch.LongTensor(training_df.item_feature_id) 
        ratings = torch.FloatTensor(training_df.rating.values)  
    
        y_hat = model(context_features, item_features)
        loss = F.binary_cross_entropy_with_logits(y_hat, ratings)
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
        testloss, acc = valid_loss(model)
        print("train loss %.3f valid loss %.3f accuracy %.3f" % (loss.item(), testloss, acc))

In [34]:
df_with_item_feature = train_df_new.merge(item_feature, how='left')
df_with_item_feature.head()

   user_id  item_id  rating  context_feature_id  item_feature_id
0      0.0  24415.0     0.0                 2.0              162
1      0.0   1758.0     0.0                 2.0              148
2      0.0   4525.0     0.0                 3.0               68
3      0.0  31023.0     0.0                 3.0              142
4      0.0  34966.0     0.0                 3.0              148

In [35]:
training_df, valid_df = train_test_split(df_with_item_feature)

In [36]:
model_embed = Embedding_Model(emb_size=100)
train_epocs(model_embed, epochs=10, lr=0.1)

/var/folders/29/nt_gsyr11k117pmkvqqz06gm0000gn/T/ipykernel_4229/785531377.py:5: DeprecationWarning: an integer is required (got type float).  Implicit conversion to integers using __int__ is deprecated, and may be removed in a future version of Python.
  context_features = torch.LongTensor(training_df.context_feature_id)

IndexError: index out of range in self

In [41]:
context_features

tensor([2, 2, 3,  ..., 2, 2, 2])

In [42]:
item_features

tensor([162, 148,  68,  ..., 139,  35, 148])

In [40]:
model_embed(context_features, item_features)

IndexError: index out of range in self

In [39]:
context_features = torch.LongTensor(training_df.context_feature_id)  
item_features = torch.LongTensor(training_df.item_feature_id)

/var/folders/29/nt_gsyr11k117pmkvqqz06gm0000gn/T/ipykernel_4229/952860966.py:1: DeprecationWarning: an integer is required (got type float).  Implicit conversion to integers using __int__ is deprecated, and may be removed in a future version of Python.
  context_features = torch.LongTensor(training_df.context_feature_id)

In [47]:
df_with_item_feature

         user_id  item_id  rating  context_feature_id  item_feature_id
0              0     6712       0                   4              148
1              0    15507       0                   4               84
2              0    32760       0                   4              111
3              0    11321       0                   4                2
4              0    33311       0                   4               19
...          ...      ...     ...                 ...              ...
1940485   169697     1074       1                   2              138
1940486   169697     1074       1                   2              138
1940487   169697      244       1                   2              139
1940488   169697     1262       1                   2               35
1940489   169697     1283       1                   2              148

[1940490 rows x 5 columns]

In [48]:
test.merge(item_feature, how='left').drop(['level_0'], axis=1)

            id  user_id  item_id  context_feature_id
0            0        4    16835                   2
1            1        4    22590                   3
2            2        4     1978                   1
3            3        4    28916                   1
4            4        4    14427                   2
...        ...      ...      ...                 ...
381380  381380   200151     1702                   1
381381  381381   200151    21632                   1
381382  381382   200151    30477                   1
381383  381383   200151    30477                   1
381384  381384   200151    17715                   1

[381385 rows x 4 columns]

In [34]:
training_df

           index  level_0  user_id  item_id  rating  context_feature_id
0              0        0        0     6712       0                   4
1              1        1        0    15507       0                   4
2              2        2        0    32760       0                   4
3              3        3        0    11321       0                   4
4              7        7        1    25550       0                   4
...          ...      ...      ...      ...     ...                 ...
1552768  1940485  1940485   169697     1074       1                   2
1552769  1940486  1940486   169697     1074       1                   2
1552770  1940487  1940487   169697      244       1                   2
1552771  1940488  1940488   169697     1262       1                   2
1552772  1940489  1940489   169697     1283       1                   2

[1552773 rows x 6 columns]

In [42]:
item_feature[item_feature['item_id'] == 6712]

      item_id  item_feature_id
6712     6712              148

In [ ]:
training_df, valid_df = train_test_split(train_df_new)

## Predicting for Observed Users

In [27]:
#Testing
test = pd.read_csv('test_kaggle.csv')
test_cold_start = test.copy()

In [28]:
test = encode_data(test, training)

In [29]:
model3.eval()
users = torch.LongTensor(test.user_id.values)  
items = torch.LongTensor(test.item_id.values) 
y_hat = model3(users, items)

In [30]:
final_prediction = torch.sigmoid(y_hat).detach().numpy()
test['rating'] = final_prediction

In [31]:
pred_df = pd.DataFrame({'rating':final_prediction})

In [32]:
new_users = set(test_cold_start['user_id'].unique()) - set(training['user_id'].unique() )
new_items = set(test_cold_start['item_id'].unique()) - set(training['item_id'].unique() )
test_cold_start = test_cold_start[test_cold_start['user_id'].isin(new_users) | test_cold_start['item_id'].isin(new_items)]
test_cold_start['rating'] = 0.5

In [33]:
test_cold_start

            id  user_id  item_id  context_feature_id  rating
0            0        4    16835                   2     0.5
1            1        4    22590                   3     0.5
2            2        4     1978                   1     0.5
3            3        4    28916                   1     0.5
4            4        4    14427                   2     0.5
...        ...      ...      ...                 ...     ...
381380  381380   200151     1702                   1     0.5
381381  381381   200151    21632                   1     0.5
381382  381382   200151    30477                   1     0.5
381383  381383   200151    30477                   1     0.5
381384  381384   200151    17715                   1     0.5

[318418 rows x 5 columns]

In [34]:
pred_df = pd.concat([test_cold_start, test])
pred_df = pred_df.sort_values(by=['id']).drop(['id', 'user_id', 'item_id', 'context_feature_id'], axis=1)
pred_df.index = pred_df.index.rename('id')
pred_df.head()

    rating
id
0      0.5
1      0.5
2      0.5
3      0.5
4      0.5

In [35]:
test

            id  user_id  item_id  context_feature_id    rating
30          30        7     1330                   1  0.995674
31          31        7     8139                   1  0.055683
32          32        7    10370                   1  0.023674
33          33        7    21772                   1  0.070484
34          34        7     1330                   1  0.995674
...        ...      ...      ...                 ...       ...
381370  381370   169696    14615                   1  0.075295
381371  381371   169696      601                   1  0.986094
381372  381372   169696     6498                   1  0.717493
381373  381373   169696     1733                   1  0.980622
381374  381374   169696      369                   1  0.986377

[62967 rows x 5 columns]

In [36]:
pred_df

        rating
id
0          0.5
1          0.5
2          0.5
3          0.5
4          0.5
...        ...
381380     0.5
381381     0.5
381382     0.5
381383     0.5
381384     0.5

[381385 rows x 1 columns]

In [37]:
pred_df.to_csv('submission.csv')